<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>customer</title>


    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">



</head>
<body>
  <!-- header section starts  -->

<header>

    <h1 class="heading">customer</h1>

    <a href="#" class="logo"><i class="fas fa-utensils"></i>food</a>
    
    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        
            <a href="home">home</a>
            <a href="speciality">speciality</a>
            <a href="popular">popular</a>
            <a href="gallery">gallery</a>
            <a href="customer">customer</a>
            <a href="order">order</a>
        
    </nav>

</header>

<!-- header section ends -->

 <!-- customer section starts   -->

<section class="customer" id="customer">

    <h1 class="heading"> our  <span>Customer</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/download.png" alt="">
            <h3>Zomato</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>Zomato is one of the most comprehensive and user-friendly apps where people can search for nearby restaurants and cafés, order food online, and get it delivered ...</p>
        </div>
        <div class="box">
            <img src="images/Swiggy_logo.png" alt="">
            <h3>Swiggy</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>Swiggy is an Indian online food ordering and delivery platform. Founded in July 2014, Swiggy is based in Bangalore and operates in 500 Indian cities as of September 2021</p>
        </div>
        <div class="box">
            <img src="images/download (1).png" alt="">
            <h3>Uber Eats</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <p>Uber Eats is our food delivery platform that makes getting great food from your favorite local restaurants as easy as requesting a ride.</p>
        </div>

    </div>

</section>

<!-- customer section ends -->

 <!-- steps section starts   -->

<div class="step-container">

    <h1 class="heading">how it <span>works</span></h1>

    <section class="steps">

        <div class="box">
            <img src="images/step-1.jpg" alt="">
            <h3>choose your favorite food</h3>
        </div>
        <div class="box">
            <img src="images/step-2.jpg" alt="">
            <h3>free and fast delivery</h3>
        </div>
        <div class="box">
            <img src="images/step-3.jpg" alt="">
            <h3>easy payments methods</h3>
        </div>
        <div class="box">
            <img src="images/step-4.jpg" alt="">
            <h3>and finally, enjoy your food</h3>
        </div>
    
    </section>

</div>

<!-- steps section ends -->














































  <!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="script.js"></script>  
</body>
</html>