<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery</title>


    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">



</head>
<body>
  <!-- header section starts  -->

<header>

    <h1 class="heading">gallery</h1>

    <a href="#" class="logo"><i class="fas fa-utensils"></i>food</a>
    
    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        
            <a href="home">home</a>
            <a href="speciality">speciality</a>
            <a href="popular">popular</a>
            <a href="gallery">gallery</a>
            <a href="customer">customer</a>
            <a href="order">order</a>
        
    </nav>

</header>

<!-- header section ends -->

  <!-- home section starts   -->

   <!-- gallery section starts   -->

  <section class="gallery" id="gallery">
  
      <h1 class="heading"> our food <span> gallery </span> </h1>
  
      <div class="box-container">
  
          <div class="box">
              <img src="images/g-1.jpg" alt="">
              <div class="content">
                  <h3>tasty burger</h3>
                  <p> Burger is used to describe a popular sandwich that are formed into a patty.</p>
                  <a href="#" class="btn">ordern now</a>
              </div>
          </div>
          <div class="box">
              <img src="images/g-2.jpg" alt="">
              <div class="content">
                  <h3>tasty sandwich</h3>
                  <p>A twist in the classic club sandwich using vegeterian butcher non chiken chunk and nobacon</p>
                  <a href="#" class="btn">ordern now</a>
              </div>
          </div>
          <div class="box">
              <img src="images/g-3.jpg" alt="">
              <div class="content">
                  <h3>tasty panner roll</h3>
                  <p>Popular indian street food , panner kathi roll are warm layer parathas filled with spicy paneer.</p>
                  <a href="#" class="btn">ordern now</a>
              </div>
          </div>
          <div class="box">
              <img src="images/g-4.jpg" alt="">
              <div class="content">
                  <h3>tasty cupcake</h3>
                  <p>The basic home made chocolate cupcake recipe  creates the best rich, moist tender cupcake.</p>
                  <a href="#" class="btn">ordern now</a>
              </div>
          </div>
          <div class="box">
              <img src="images/g-5.jpg" alt="">
              <div class="content">
                  <h3>tasty panner</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti, ipsum.</p>
                  <a href="#" class="btn">ordern now</a>
              </div>
          </div>
          <div class="box">
              <img src="images/g-6.jpg" alt="">
              <div class="content">
                  <h3>tasty chiken wings</h3>
                  <p>Extra crispy , flavour ful and easy to prepare chiken wings that are perfect foa a party and social.</p>
                  <a href="#" class="btn">ordern now</a>
              </div>
          </div>
          <div class="box">
              <img src="images/g-7.jpg" alt="">
              <div class="content">
                  <h3>tasty bread omelette</h3>
                  <p> chese bread omelette is one the easiest breakfast recipe that you can whip up in no time.it make a filling breakfast or even lunch.</p>
                  <a href="#" class="btn">ordern now</a>
              </div>
          </div>
          <div class="box">
              <img src="images/g-8.jpg" alt="">
              <div class="content">
                  <h3>tasty dark chocolate</h3>
                  <p> Dark Chocolate Improve your Immunity. </p>
                  <a href="#" class="btn">ordern now</a>
              </div>
          </div>
          <div class="box">
              <img src="images/g-9.jpg" alt="">
              <div class="content">
                  <h3>tasty cookies</h3>
                  <p>you'll love these white chocolate chip cranberry cookies beacause they're soft-baked,wonderfully. </p>
                  <a href="#" class="btn">ordern now</a>
              </div>
          </div>
  
      </div>
  
  </section>
  
  <!-- gallery section ends -->
  






























  <!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="script.js"></script>  

{{>footer}}
</body>
</html>