
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>speciality</title>


    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">



</head>
<body>
  <!-- header section starts  -->

<header>

    <h1 class="heading">speciality</h1>

    <a href="#" class="logo"><i class="fas fa-utensils"></i>food</a>
    
    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        
            <a href="home">home</a>
            <a href="speciality">speciality</a>
            <a href="popular"> popular</a>
            <a href="gallery">gallery</a>
            <a href="customer">customer</a>
            <a href="order">order</a>
        
    </nav>

</header>

<!-- header section ends -->

  <!-- home section starts   -->

<!-- speciality section starts  -->

<section class="speciality" id="speciality">

    <h3 class="heading"> our <span>speciality</span> </h3>

{{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis laudantium, earum dolores ipsam, harum maxime quasi sapiente molestiae facilis ea voluptatibus ratione voluptate odit voluptas explicabo in eum rerum. Consectetur!</p> --}}

    <div class="box-container">

        <div class="box">
            <img class="image" src="images/s-img-1.jpg" alt="">
            <div class="content">
                <img src="images/s-1.png" alt="">
                <h3>tasty burger</h3>
                <p>4 brioche burger buns, halved
                    2 tbsp unsalted butter, melted
                    600g minced beef (15% fat)
                    4 cheese slices
                    10 sliced pickles, cut into pieces (we like Dino’s Famous Chilli Stacker Pickles)</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="images/s-img-2.jpg" alt="">
            <div class="content">
                <img src="images/s-2.png" alt="">
                <h3>tasty pizza</h3>
                <p>It is hot.it is spicy.it is oh- so- indian.tandoori paneer with capicum,red chili paprika and mint mayo, chiken pepperoni cheese and sprinkle with Basil parsley</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="images/s-img-3.jpg" alt="">
            <div class="content">
                <img src="images/s-3.png" alt="">
                <h3>cold ice-cream</h3>
                <p>Milk 3 cups
                    Coffee 3 tsp
                    Sugar as per taste
                    Water - 1/2 cup
                    Vanilla ice-cream - 3 scoops</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="images/s-img-4.jpg" alt="">
            <div class="content">
                <img src="images/s-4.png" alt="">
                <h3>cold drinks</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="images/s-img-5.jpg" alt="">
            <div class="content">
                <img src="images/s-5.png" alt="">
                <h3>tasty sweets</h3>
                <p>Chocolate is made from cocoa beans, the dried and fermented seeds of the cacao tree (Theobroma cacao), a small, 4–8 m tall (15–26 fit tall) </p>
            </div>
        </div>
        <div class="box">
            <img class="image" src="images/s-img-6.jpg" alt="">
            <div class="content">
                <img src="images/s-6.png" alt="">
                <h3>healty breakfast</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
            </div>
        </div>

    </div>

</section>

<!-- speciality section ends -->






























 <!-- jquery cdn link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- custom js file link  -->
<script src="script.js"></script>  
 {{>footer}}
</body>
</html>