<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="footer">

    <div class="share">
        <a href="https://facebook.com" class="btn">facebook</a>
        <a href="https://twitter.com" class="btn">twitter</a>
        <a href="https://instagram.com" class="btn">instagram</a>
        <a href="https://whatsapp.com" class="btn">whatsaap</a>
        <a href="https://linkdin.com" class="btn">linkedin</a>
    </div>

    <!-- <h1 class="credit"> created by <span> miss. khushboo designer </span> | all rights reserved! </h1> -->
    <h1 class="credit"> created by <span> | Miss Khushboo Kumari</span> </h1>

</section>


  

    





<!-- custom js file link  -->

</body>
</html>