<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
     <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar">
        
            <a href="home">home</a>
            <a href="speciality">speciality</a>
            <a href="popular"> popular</a>
            <a href="gallery">gallery</a>
            <a href="customer">customer</a>
            <a href="order">order</a>
        
    </nav>

</body>
</html>